body{
	background: #E7E6F7;
	color: grey;
	font-size: 25px;
	font-family: 'Amatic SC', cursive;
}
h1{
  font-family: 'Amatic SC', cursive;
  color: grey;
  font-weight: lighter;
  font-size: 30px;
}
h2 {
  font-family: Courier;
  color: grey;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: darkblue;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 120px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey
  font-size: 20px;
}
.section{
  padding: 40px;
  font-weight: lighter;
  text-align: center;
}
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
.fab{
	color:grey;
}
.fab:hover {
		color: purple;
}
.btn{
	text-align: center;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
}
}